.App {
  text-align: center;
  overflow: scroll;
  height: 100vh;
  width: 60%;
  margin: auto;
  background-color: #f5f5f5;
  padding: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #5dafe2;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.search {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex: 1;
  height: 35px;
  margin-left: 30px;
  padding: 0 10px;
}

.search input {
  border: none;
  flex: 1;
  outline: 0;
  border-radius: 15px;
}

.panel {
  background-color: #98cdee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-text {
  margin-left: 4px; /* İstenilen boşluk miktarını ayarlayabilirsiniz */
}

.grid-item-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.list-item-image{
  width: 75px;
  height: auto;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .App {
    width: 100%;
  }

  .grid-container,
  .list-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.dropdown select {
  width: 120px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.dropdown select:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



.dropdown select:focus {
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
